<!DOCTYPE html>
<html>
<head>
  <title>Madmon</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag "/dc.css" %>
  <%= javascript_include_tag "/d3.js" %>
  <%= javascript_include_tag "/crossfilter.js" %>
  <%= javascript_include_tag "/dc.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
